html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: roboto, "Helvetica Neue", arial, "HarmonyOS_Sans_SC_Regular", Heiti, "黑体",
    "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, "宋体",
    sans-serif;
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}
